<div class="card">
    <div class="card-header text-center bg-warning text-white">
        <h4>Output</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                  <th class="text-center">Ganjil</th>
                  <th class="text-center">Genap</th>
                </tr>
            </thead>
            <tbody>          
                <tr>
                    <td class="text-center" id="output_ganjil">
                        <% data.filter(output => output.is_even == 0).forEach(output => { %> 
                            <% const phoneGenerate = cryptoGenerate.decrypt(output.phone) %> 
                            <% const providerGenerate = cryptoGenerate.decrypt(output.provider) %> 
                            <div class="d-grid">
                                <button class="btn btn-sm btn-secondary mb-2 btn-card-phone-list" id="<%= output.id %>" onclick="`${selectedCard('<%= output.id %>', '<%= phoneGenerate %>')}`">
                                    <%= phoneGenerate %>  
                                    <span class="d-block">
                                        <%= providerGenerate %>
                                    </span>
                                </button>             
                            </div>  
                        <% }) %>
                    </td>
                    <td class="text-center" id="output_genap">
                        <% data.filter(output => output.is_even == 1).forEach(output => { %>   
                            <% const phoneGenerate = cryptoGenerate.decrypt(output.phone) %> 
                            <% const providerGenerate = cryptoGenerate.decrypt(output.provider) %>  
                            <div class="d-grid">
                                <button class="btn btn-sm btn-secondary mb-2 btn-card-phone-list" id="<%= output.id %>" onclick="`${selectedCard('<%= output.id %>','<%= phoneGenerate %>')}`">
                                    <%= phoneGenerate %>
                                    <span class="d-block">
                                        <%= providerGenerate %>
                                    </span>
                                </button>          
                            </div> 
                        <% }) %>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="float-end">
            <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalEdit">EDIT</button>
            <button class="btn btn-sm btn-outline-danger" onclick="deletePhone()">DELETE</button>
        </div>
    </div>
</div>
<small>Note: Select list to update or delete.</small>

<div class="text-center mt-3">
    <a href="/">Back</a>
</div>